html,
body {
    height: 100%;
}
main .fill {
    height: 70vw;
    min-height: 100%;
}
.navbar-brand img {
    background: #fff;
    padding: 5px 5px;
}

.cat-name {
    text-transform: capitalize;
}

.badge {
    display: inline-block;
    font-size: 1em;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
}

footer {
    padding: 2rem 0;
    background-color: #000;
    color: #fff;
}
